---
default_language_version:
  python: python3
default_stages: [commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        exclude: '^\.clang-format'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: '\.patch$'
      - id: mixed-line-ending
        args: ["--fix=auto"]
        exclude: '\.patch$'
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
        exclude: '\.patch$'

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.11.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional@16.2.1"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.12.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-s]

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
        args:
          - -i
          - "2"
          - -ci
      - id: shellcheck
      - id: script-must-not-have-extension

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        name: Check format of C/C++/Proto
        exclude: '\.js'
        entry: clang-format -i
